/* blockquotes */

blockquote {
  margin: 0 0 1rem;
  padding: 0 1rem;
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: var(--link-color);
}

blockquote > p {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-style: italic;
}

blockquote > p::after,
blockquote > p::before {
  color: var(--link-color);
  font-weight: bold;
}

blockquote > p::after {
  content: ' "';
}

blockquote > p::before {
  content: '" ';
}

/* code */

code,
pre {
  border-color: var(--background-color-alt);
  border-radius: 5px;
  background-color: var(--background-color-alt);
  font-size: 95%;
  font-family: var(--font-family-monospace);
  transition: background-color var(--transition-duration),
              border-color var(--transition-duration),
              border-radius 0s ease-out var(--transition-duration);
}

code {
  padding: 0.2rem 0.4rem;
}

a:focus code,
a:hover code,
code a:focus,
code a:hover {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--link-color);
  border-radius: 5px 5px 0 0;
  transition: background-color var(--transition-duration),
              border-color var(--transition-duration),
              border-radius 0s;
}

pre {
  overflow: auto;
  padding: 0.3rem 0.6rem;
  line-height: 1.5rem;
  scrollbar-width: none;  /* firefox */
}

pre::-webkit-scrollbar {
  display: none;  /* chrome */
}

pre > code {
  padding: 0;
}

.hljs {
  background: none; /* due to some weird decisions in the official stylesheet */
}

/* details */

details {
  margin: 0 0 1rem;
  padding: 0.3rem 0.6rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--background-color-alt);
  border-radius: 5px;
}

details[open] > summary::before {
  content: "\f078";
}

summary {
  list-style-type: "";
  font-weight: bold;
  cursor: pointer;
}

summary::before {
  content: "\f054";
  margin: 0 0.5rem 0 0;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}

summary:hover::before,
details[open] > summary::before {
  color: var(--link-color);
}

/* emojis */

.gemoji {
  height: 1.5rem;
}

/* equations */

body {
  counter-reset: eqn;
}

.katex {
  width: 100%;
}

span.katex-display {
  display: flex;
  align-items: center;
}

span.katex-display::after {
  content: "[" counter(eqn) "]";
  padding: 0 0 0 2rem;
  color: var(--font-color);
  counter-increment: eqn;
}

span.katex-display:hover::after {
  color: var(--link-color);
}

/* footnotes */

sup {
  vertical-align: super;
  line-height: 0;
}

.footnote {
  font-size: 90%;
  line-height: 1rem;
}

.footnote hr {
  width: 50%;
  margin: 0;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--background-color-alt);
}

.footnote li:first-child {
  margin: 1.5rem 0 0;
}

.footnote-backref {
  border: 0;
}

.footnote-backref::after {
  content: "\f08e";
  margin: 0 0 0 1rem;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}

/* horizontal rule */

hr {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--background-color-alt);
}

/* keys */

kbd {
  margin: 0 0.3rem;
  padding: 0.3rem 0.6rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--font-color);
  border-radius: 5px;
  background-color: var(--background-color-alt);
  cursor: default;
}

kbd:hover {
  border-color: var(--link-color);
  color: var(--link-color);
}

/* links */

a {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: transparent;
  color: var(--link-color);
  cursor: pointer;
  text-decoration-line: none;
}

a:focus,
a:hover {
  border-color: var(--link-color);
}

/* mermaid diagrams (hopefully not for long...) */

div.mermaid svg {
  display: block;
  overflow: auto;
  margin: 0 auto;
}

/* strikethrough */

del {
  text-decoration-line: line-through;
  text-decoration-color: var(--font-color);
}

a del,
del a {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: transparent;
  text-decoration-line: line-through;
  text-decoration-color: var(--link-color);
}

a:focus del,
a:hover del,
del a:focus,
del a:hover {
  border-color: var(--link-color);
}

/* tables */

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table thead tr th,
table tbody tr td {
  padding: 0 1rem;
}

table thead tr th,
table tbody tr:last-child td {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--font-color);
}

table tbody tr:nth-child(odd) {
  background-color: var(--background-color-alt);
}

/* table of contents */

.toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toc ul li {
  padding: 0 0 0 1rem;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: transparent;
  color: var(--font-color);
}

.toc ul li:hover {
  border-color: var(--link-color);
  color: var(--link-color);
}

.toc ul li a {
  display: block;
  border: 0;
  color: inherit;
}

.toc ul li a:hover {
  color: var(--link-color);
  font-weight: bold;
}

/* titles */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  padding: 1rem 0 0;
}

h1 {
  padding: 4rem 0 1rem;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--background-color-alt);
  font-size: 200%;
}

h2 {
  padding: 2rem 0 0;
  font-size: 150%;
}

h3 {
  font-size: 135%;
}

h4 {
  font-size: 115%;
}

h5,
h6 {
  font-size: 100%;
}

h6 {
  font-weight: normal;
  font-style: italic;
}
