/* external imports */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/regular.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/solid.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css");



/* partial style definitions */

@import url("style-markup.css");
@import url("style-struct.css");
@import url("style-syntax.css");



/* parameters */

:root {
  --font-size: 16px;  /* 1rem */
  --line-height: 2rem;
  --icon-size: 1.25rem;
  --article-width: 1000px;
  --side-nav-width: 40%;
  --top-nav-height: 5rem;
  --font-family: "Arial", sans-serif;
  --font-family-monospace: "Courier New", monospace;
  --transition-duration: 0.5s;
}

:root,
.light {
  --color-scheme: light;
  --background-color: #fff;
  --background-color-alt: #f3f5f7;
  --font-color: #24292e;
  --link-color: #0969da;
}

.dark {
  --color-scheme: dark;
  --background-color: #0d1117;
  --background-color-alt: #161b22;
  --font-color: #c9d1d9;
  --link-color: #539bf5;
}

.dimmed {
  --color-scheme: dark;
  --background-color: #22272e;
  --background-color-alt: #2d333b;
  --font-color: #adbac7;
  --link-color: #539bf5;
}
