/* blockquotes */

blockquote {
  padding: 0 1rem;
  margin: 0 0 1rem;
  border-color: var(--link-color);
  border-style: solid;
  border-width: 0 0 0 3px;
}

blockquote > p {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-style: italic;
}

blockquote > p::after,
blockquote > p::before {
  font-weight: bold;
  color: var(--link-color);
}

blockquote > p::after {
  content: ' "';
}

blockquote > p::before {
  content: '" ';
}



/* code snippets */

code {
  padding: 0.2rem 0.4rem;
}

code,
pre {
  font-family: var(--font-family-monospace);
  font-size: 95%;
  background-color: var(--background-color-alt);
  border-radius: 5px;
}

pre {
  padding: 0.3rem 0.6rem;
  overflow: auto;
  line-height: 1.5rem;
  scrollbar-width: none;  /* firefox */
}

pre::-webkit-scrollbar {
  display: none;  /* chrome */
}

pre > code {
  padding: 0;
}



/* details */

details {
  padding: 0.3rem 0.6rem;
  margin: 0 0 1rem;
  border-color: var(--background-color-alt);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

details[open] > summary::before {
  content: "\f078";
}

summary {
  font-weight: bold;
  list-style-type: "";
  cursor: pointer;
}

summary::before {
  margin: 0 0.5rem 0 0;
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
  content: "\f054";
}

summary:hover::before,
details[open] > summary::before {
  color: var(--link-color);
}



/* emojis */

.gemoji {
  height: 1.5rem;
}



/* equations */

body {
  counter-reset: eqn;
}

span.katex-display {
  display: flex;
  align-items: center;
}

span.katex-display::after {
  padding: 0 0 0 2rem;
  color: var(--font-color);
  content: "[" counter(eqn) "]";
  counter-increment: eqn;
}

span.katex-display:hover::after {
  color: var(--link-color);
}

span.katex-display .katex {
  width: 100%;
}



/* footnotes */

sup {
  line-height: 0;
  vertical-align: super;
}

.footnote {
  font-size: 90%;
  line-height: 1rem;
}

.footnote hr {
  width: 50%;
  margin: 0;
  border-color: var(--background-color-alt);
  border-style: solid;
  border-width: 1px 0 0;
}

.footnote li:first-child {
  margin: 1.5rem 0 0;
}

.footnote-backref {
  border: 0;
}

.footnote-backref::after {
  margin: 0 0 0 1rem;
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
  content: "\f08e";
}



/* horizontal rule */

hr {
  border-color: var(--background-color-alt);
  border-style: solid;
  border-width: 0 0 1px;
}



/* keys */

kbd {
  padding: 0.3rem 0.6rem;
  margin: 0 0.3rem;
  cursor: default;
  background-color: var(--background-color-alt);
  border-color: var(--font-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

kbd:hover {
  color: var(--link-color);
  border-color: var(--link-color);
}



/* links */

a {
  color: var(--link-color);
  text-decoration-line: none;
  cursor: pointer;
}

a:focus,
a:hover {
  color: var(--link-color);
  text-decoration-line: underline;
}



/* mermaid diagrams (hopefully not for long...) */

div.mermaid svg {
  display: block;
  margin: 0 auto;
  overflow: auto;
}



/* strikethrough */

del {
  text-decoration-line: line-through;
  text-decoration-color: var(--font-color);
}

a del,
del a {
  text-decoration-line: line-through;
  text-decoration-color: var(--link-color);
}

a:focus del,
a:hover del,
del a:focus,
del a:hover {
  text-decoration-line: line-through underline;
}



/* tables */

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table thead tr th,
table tbody tr td {
  padding: 0 1rem;
}

table thead tr th,
table tbody tr:last-child td {
  border-color: var(--font-color);
  border-style: solid;
  border-width: 0 0 1px;
}

table tbody tr:nth-child(odd) {
  background-color: var(--background-color-alt);
}



/* table of contents */

.toc ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.toc ul li {
  padding: 0 0 0 1rem;
  color: var(--font-color);
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 0 1px;
}

.toc ul li:hover {
  color: var(--link-color);
  border-color: var(--link-color);
}

.toc ul li a {
  display: block;
  color: inherit;
  border: 0;
}

.toc ul li a:hover {
  font-weight: bold;
  text-decoration-line: none;
}



/* titles */

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 4rem 0 1rem;
  font-size: 200%;
  border-color: var(--background-color-alt);
  border-style: solid;
  border-width: 0 0 1px;
}

h2 {
  padding: 2rem 0 0;
  font-size: 150%;
}

h3 {
  font-size: 135%;
}

h4 {
  font-size: 115%;
}

h5,
h6 {
  font-size: 100%;
}

h6 {
  font-style: italic;
  font-weight: normal;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  padding: 1rem 0 0;
}
