/* imports */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/regular.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.2/katex.min.css");

@import "style-highlight.css";
@import "style-markdown.css";
@import "style-search.css";

/* color schemes */

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
                 sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
                           "Liberation Mono", monospace;
  --font-size: 16px;
  --icon-size: 20px;
  --max-width: 800px;
  --nav-height: 5rem;
  --transition-duration: 0.5s;
}

:root,
.light {
  --background-color: #ffffff;
  --background-color-alt: #f3f5f7;
  --color-scheme: light;
  --font-color: #24292e;
  --link-color: #0969da;
}

.dark {
  --background-color: #0d1117;
  --background-color-alt: #161b22;
  --color-scheme: dark;
  --font-color: #c9d1d9;
  --link-color: #539bf5;
}

.dimmed {
  --background-color: #22272e;
  --background-color-alt: #2d333b;
  --color-scheme: dark;
  --font-color: #adbac7;
  --link-color: #539bf5;
}

/* general */

* {
  box-sizing: border-box;
  color-scheme: var(--color-scheme);
  scroll-margin-top: var(--nav-height);
}

*,
*:focus,
*:focus:before,
*:focus:after,
*:hover,
*:hover:before,
*:hover:after,
*::before,
*::after {
  transition-duration: var(--transition-duration);
  transition-property: background-color,
                       border-color,
                       color,
                       left,
                       margin,
                       opacity,
                       text-decoration-color,
                       width;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

/* navigation bar */

nav {
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.buttons {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  height: 100%;
  padding: 0 1rem;
}

.button {
  backdrop-filter: blur(10px);
  border: 0;
  border-radius: calc(var(--icon-size) + 1rem);
  color: var(--font-color);
  cursor: pointer;
  padding: 1rem;
}

.button:hover {
  background-color: var(--background-color-alt);
}

.button::before {
  display: inline-block;
  text-align: center;
  width: var(--icon-size);
}

.button.repo::before,
.button.reset::before,
.button.search::before,
.button.sidebar::before,
.button.theme::before {
  font-size: var(--icon-size);
  font-weight: 900;
  width: 2rem; /* same as line-height */
}

.button.repo::before {
  content: "\f09b";
  font-family: "Font Awesome 6 Brands";
}

.button.reset::before {
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
}

.button.search::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
}

.button.sidebar::before {
  content: "\f0ca";
  font-family: "Font Awesome 6 Free";
}

.button.theme::before {
  content: "\f042";
  font-family: "Font Awesome 6 Free";
}

.logo,
.logo:hover {
  border: 0;
  text-align: center;
}

.logo img {
  max-height: calc(var(--icon-size) + 2rem);
  max-width: calc(var(--icon-size) + 2rem);
}

/* splash screen */

header {
  align-items: center;
  background: linear-gradient(0deg, var(--background-color) 0%, var(--background-color-alt) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

header span {
  display: block;
  margin: 1rem 0;
  padding: 0 1rem;
  text-align: center;
}

header a {
  background-color: var(--background-color-alt);
  border-color: transparent;
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  color: var(--font-color);
  margin: 0 0.5rem;
  padding: 0.5rem 1.5rem;
}

header a:focus,
header a:hover {
  border-color: var(--link-color);
}

header .title {
  margin: 2rem 0 1rem 0;
  font-size: 250%;
}

/* main content */

main {
  overflow: hidden;
  position: sticky;
  top: 0;
}

/* scroll indicator */

#scroller {
  background-color: var(--link-color);
  height: 1px;
  margin: 0;
  position: sticky;
  top: 0;
  transition: none;
  width: 0;
  z-index: 10;
}

/* side bars */

aside {
  display: flex;
  flex-direction: column;
  font-size: 90%;
  height: 100%;
  left: -100%;
  overflow: hidden;
  padding: var(--nav-height) 0 0 0;
  position: fixed;
  scrollbar-width: none;
  top: 0;
}

aside::-webkit-scrollbar {
  width: 0;
}

aside#search,
aside#toc {
  border-color: var(--background-color-alt);
  border-style: solid;
  border-width: 0 1px 0 0;
  width: 40%;
}

aside#toc a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

aside.visible-sidebar {
  left: 0;
  overflow: auto;
}

@media screen and (max-width: 1000px) {
  aside#toc,
  aside#search {
    border: 0;
    width: 100%;
  }
  aside.visible-sidebar {
    left: 0;
    overflow: auto;
    width: 100%;
  }
}

aside > * {
  margin: 0;
  padding: 1rem;
  width: 100%;
}

aside a.active {
  color: var(--link-color) !important;
  font-weight: bold;
}

/* main content */

article {
  display: flex;
  flex-direction: column;
  left: 0;
  margin: var(--nav-height) 0 0 0;
  min-height: calc(100vh - var(--nav-height) - 1px);
  overflow: auto;
  width: 100%;
  position: relative;
}

article.visible-sidebar {
  left: 40%;
  width: 60%;
}

@media screen and (max-width: 1000px) {
  article.visible-sidebar {
    left: 100%;
    overflow: hidden;
    width: 100%;
  }
}

article > * {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 1rem;
  width: 100%;
}

/* preceding/following content */

.prevnext {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#prev:not(:empty),
#next:not(:empty) {
  background-color: var(--background-color-alt);
  border-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: var(--font-color);
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .prevnext {
    flex-direction: column;
  }
}

#prev {
  text-align: left;
}

#next {
  text-align: right;
}

#prev:hover,
#next:hover {
  border-color: var(--link-color);
}

#prev::before,
#next::after {
  color: var(--link-color);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

#prev:not(:empty):before {
  content: "\f060";
  margin: 0 1rem 0 0;
}

#next:not(:empty):after {
  content: "\f061";
  margin: 0 0 0 1rem;
}

/* utils */

.spacer {
  flex-grow: 2;
}
