.search-field {
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-field .button:hover {
  background-color: inherit;
}

#search-input {
  background-color: transparent;
  border-color: var(--font-color);
  border-style: solid;
  border-width: 0 0 1px 0;
  color: var(--font-color);
  flex-grow: 2;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 2rem;
  max-width: 400px;
  outline: none;
  padding: 0;
}

#search-input::placeholder {
  color: var(--font-color);
  opacity: 0.25;
}

#search-output {
  list-style: none;
  padding: 0 1rem;
}

#search-output li {
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 0 1px;
  color: var(--font-color);
  margin: 1rem 0;
  padding: 0 1rem;
}

#search-output li:first-child {
  margin: 1rem 0;
}

#search-output li:hover {
  border-color: var(--link-color);
}

#search-output li a {
  border: 0;
  width: 100%;
}

#search-output .text {
  color: var(--font-color);
  margin: 0 0 0 1rem;
}

#search-output .text::after {
  color: var(--link-color);
  content: "\f08e";
  font-family: "Font Awesome 6 Free";
  font-size: 80%;
  font-weight: 900;
}

#search-output .score {
  font-size: 80%;
  margin: 0 1rem;
  opacity: 0.4;
}

#search-output li:hover .score {
  opacity: 0.6;
}

mark {
  color: var(--link-color);
  font-weight: bold;
}
